name: Publish Javadoc

on:
  push:
    branches:
      - main  # Cambia esto a la rama en la que trabajes

permissions:
  contents: write
  pages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v5
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Build and generate Javadoc
        run: mvn clean package javadoc:javadoc

      - name: List generated files (Debug Step)
        run: ls -R target/site

      - name: Deploy Javadoc to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.MY_GITHUB_TOKEN }}
          publish_dir: target/site/apidocs
